fastapi==0.138.0
groq==1.5.0
huggingface_hub==1.20.1
pdfplumber==0.11.9
pgvector==0.4.2
pydantic==2.13.4
python-dotenv==1.2.2
sentence_transformers==5.6.0
SQLAlchemy==2.0.51
youtube_transcript_api==1.2.4
